<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogposts</title>
</head>
<body>
    <header>
        <div>
            <h2>Blogposts</h2>
        </div>
    </header>
    <a class="new" href="/blogposts/new">Create new</a>
    <div class="main-container">
        {{#each blogposts}}
        <div id="uid_{{this._id}}" class="card">
            <div class="blog-name">
                {{this.email}}
            </div>
            <div class="blog-post">
                {{this.post}}
            </div>
            <div class="old">
                <a class="edit" href="/blogposts/edit/{{this.id}}">edit</a>
                <a class="delete" href="/blogposts/delete/{{this.id}}">delete</a>
            </div>
        </div>
        {{/each}}
    </div>
</body>

</html>